

*{
    margin: 0;
    padding: 0;
    
}
.cont2
{
    /* background-color:antiquewhite; */

    max-width: 90vw;
    margin: auto;
}

.row
{
    display: flex;
    flex-wrap: wrap;
}
footer{
    background-color: black;
    padding: 73px 0px;


}
.footer-col
{
    width: 20%;
    padding :0px 25px;
}
.footer-col> ul{

    list-style:none;
    
}
.footer-col> ul > li>a{
text-decoration: none;
font-size: 16px;
text-transform: capitalize;
color: #d1bdbd;
font-weight: 300;
display: block;
transform: all 0.3 ease;

}
.footer-col> ul > li>a:hover{

    color: #ffffff;
    padding-left: 8px;
}
.footer-col>h4{
    font-size: 20px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;

}
.footer-col>h4::before{

    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 50px;
    background-color: #790000;
 height: 2px;
 box-sizing: border-box;

}

.footer-col ul li:not(:last-child)
{
    margin-bottom: 10px;
}

.social >a
{
display: inline-block;
height:40px;
width: 40px;
/* background-color: rgba(158, 18, 18, 0.2);
background-color: rgba(158, 18, 18, 0.2);
text-align: center;
line-height: 40px;
border-radius: 50%;

 color: #d2bfbf; */ 

 font-size: large;
 
}


